# O HHI aumentou desde a compra da OI?

In [1]:
import pandas as pd

In [5]:
#criar um dataframe dos valores de HHI por UF em 2022
hhi_2022_uf = pd.read_csv('./hhi_2022_uf.csv', sep=";")
#retirar a coluna vazia
hhi_2022_uf.drop(columns=['Unnamed: 0'], inplace = True)
#mudar o tipo de valor da coluna HHI, já que está como tipo string
hhi_2022_uf['HHI'] = hhi_2022_uf['HHI'].str.replace(',', '.', regex=True).astype(float)

In [6]:
#criar um dataframe dos valores de HHI por UF em 2022
hhi_2023_uf = pd.read_csv('./hhi_2023_uf.csv', sep=";")
#retirar a coluna vazia
hhi_2023_uf.drop(columns=['Unnamed: 0'], inplace = True)
#mudar o tipo de valor da coluna HHI, já que está como tipo string
hhi_2023_uf['HHI'] = hhi_2023_uf['HHI'].str.replace(',', '.', regex=True).astype(float)

In [7]:
hhi_2022_uf.head()

   UF        HHI    analise_mercado_hhi
0  AC  3265.9725  altamente concentrado
1  AL  2537.5947  altamente concentrado
2  AM  3234.8540  altamente concentrado
3  AP  2640.3308  altamente concentrado
4  BA  2522.2075  altamente concentrado

In [8]:
hhi_2023_uf.head()

   UF        HHI    analise_mercado_hhi
0  AC  4213.3825  altamente concentrado
1  AL  3303.3364  altamente concentrado
2  AM  4101.1026  altamente concentrado
3  AP  3483.4949  altamente concentrado
4  BA  3327.4640  altamente concentrado

In [10]:
#juntar os valores de 2022 e 2023 em uma única planilha
hhi_2023_2023_uf = hhi_2022_uf.merge(hhi_2023_uf, how='inner', on='UF', suffixes=('_2022', '_2023'))

In [11]:
hhi_2023_2023_uf.head()

   UF   HHI_2022 analise_mercado_hhi_2022   HHI_2023 analise_mercado_hhi_2023
0  AC  3265.9725    altamente concentrado  4213.3825    altamente concentrado
1  AL  2537.5947    altamente concentrado  3303.3364    altamente concentrado
2  AM  3234.8540    altamente concentrado  4101.1026    altamente concentrado
3  AP  2640.3308    altamente concentrado  3483.4949    altamente concentrado
4  BA  2522.2075    altamente concentrado  3327.4640    altamente concentrado

In [12]:
#criar uma coluna chamada diff_hhi que faz a subtração do HHI de 2023 e do HHI de 2022
hhi_2023_2023_uf['diff_hhi'] = hhi_2023_2023_uf['HHI_2023'] - hhi_2023_2023_uf['HHI_2022']

In [ ]:
hhi_2023_2023_uf.set_index('UF')

In [25]:
#filtra os estados com aumento acima de mil
hhi_2023_2023_uf[hhi_2023_2023_uf['diff_hhi'] > 1000]

,HHI_2022,analise_mercado_hhi_2022,HHI_2023,analise_mercado_hhi_2023,diff_hhi
UF,,,,,
ES,4338.6335,altamente concentrado,5982.8489,altamente concentrado,1644.2154
MA,2505.3774,altamente concentrado,3610.9166,altamente concentrado,1105.5392
MG,2643.6564,altamente concentrado,3662.8476,altamente concentrado,1019.1912
RO,3110.5866,altamente concentrado,4491.7232,altamente concentrado,1381.1366
SE,3477.2562,altamente concentrado,5360.0210,altamente concentrado,1882.7648
TO,3130.2870,altamente concentrado,4813.1052,altamente concentrado,1682.8182

In [26]:
#listar os estados que tiveram 
hhi_2023_2023_uf['diff_hhi'].nlargest(5)

UF
SE    1882.7648
TO    1682.8182
ES    1644.2154
RO    1381.1366
MA    1105.5392
Name: diff_hhi, dtype: float64