# Testando gráfico para análise da evolução da tecnologia geração

In [1]:
# caderno da bia (27/10/2023)

In [2]:
# !pip install matplotlib

In [3]:
# !pip install plotly

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [5]:
# arquivo = './Bootcamp Enap/projeto-smp/df_tec_geracao.csv'

df = pd.read_csv('./df_tec_geracao.csv', sep=';')

In [6]:
print(len(df))
print(df.shape)

69
(69, 5)

In [7]:
df.head()

# vemos que os decimais estao com virgula, e nao com ponto (que é o default do python)

   Unnamed: 0 Tecnologia Geração     media_ano            percentual   ano
0           0                 1G       5740,45  0,003543340898983565  2009
1           1                 2G  157632264,71     97,29983721595812  2009
2           2                 3G    4368704,43    2,6966194431429042  2009
3           3                 4G           0,0                   0,0  2009
4           4                M2M           0,0                   0,0  2009

In [8]:
# retirando a coluna 'Unnamed: 0'

df = df.drop(columns = ['Unnamed: 0'])

In [9]:
print(df['percentual'].dtype)
print(df['media_ano'].dtype)

# o tipo do dado que vou manipular('percentual') está em formato string, e não float

object
object

In [10]:
df['media_ano'] = df['media_ano'].str.replace(',', '.', regex=True).astype(float)
df['percentual'] = df['percentual'].str.replace(',', '.', regex=True).astype(float)

# estamos aplicando a substituição do caracter ',' por '.' em cada coluna ('percentual' e 'media_ano') 
# individualmente; e depois usamos o método astype(float) para converter os valores para o tipo de dados float

In [11]:
# restringindo o numero de casas decimais da coluna percentual a 2 casas decimais

df['percentual'] = df['percentual'].round(2)

In [12]:
print(df['percentual'].dtype)
print(df['media_ano'].dtype)

# agora ambas as colunas são do tipo float e são manipuláveis em operações matemáticas

float64
float64

In [13]:
df.head(20)

# vendo a tabela mais ampla
# temos 2 casas decimais na coluna 'percentual'

   Tecnologia Geração     media_ano  percentual   ano
0                  1G  5.740450e+03        0.00  2009
1                  2G  1.576323e+08       97.30  2009
2                  3G  4.368704e+06        2.70  2009
3                  4G  0.000000e+00        0.00  2009
4                 M2M  0.000000e+00        0.00  2009
5                  1G  7.636700e+02        0.00  2010
6                  2G  1.725275e+08       92.26  2010
7                  3G  1.446595e+07        7.74  2010
8                  4G  0.000000e+00        0.00  2010
9                 M2M  0.000000e+00        0.00  2010
10                 1G  0.000000e+00        0.00  2011
11                 2G  1.924990e+08       87.17  2011
12                 3G  2.832045e+07       12.83  2011
13                 4G  0.000000e+00        0.00  2011
14                M2M  0.000000e+00        0.00  2011
15                 1G  0.000000e+00        0.00  2012
16                 2G  1.991107e+08       78.03  2012
17                 3G  5.234101e+07       20.51  2012
18                 4G  0.000000e+00        0.00  2012
19                M2M  3.718125e+06        1.46  2012

In [14]:
# vendo quais tipos de tecnologia tivemos ao longo dos últimos 15 anos: foram 7

print(df['Tecnologia Geração'].unique())
print(len(df['Tecnologia Geração'].unique()))

['1G' '2G' '3G' '4G' 'M2M' '5G' '5G Non Stand Alone']
7

In [15]:
tec_1g = df.query('`Tecnologia Geração` == "1G"')
tec_2g = df.query('`Tecnologia Geração` == "2G"')
tec_3g = df.query('`Tecnologia Geração` == "3G"')
tec_4g = df.query('`Tecnologia Geração` == "4G"')
tec_m2m = df.query('`Tecnologia Geração` == "M2M"')
tec_5g = df.query('`Tecnologia Geração` == "5G"')
# tec_5g_nsa = df.query('`Tecnologia Geração` == "5G Non Stand Alone"')

# ChatCPT me ajudando na sintaxe:
# O erro no código que você forneceu está relacionado à forma como o nome da coluna 'Tecnologia Geração' é 
# especificado na consulta. O espaço no nome da coluna requer que você o coloque entre colchetes ou aspas.
# Neste código corrigido, usamos as crases (``) para cercar o nome da coluna 'Tecnologia Geração' porque ele 
# contém espaços. Também usamos as aspas duplas ("2G") para comparar com o valor "2G" na coluna.

In [16]:
# vendo os dataframes por tecnologia

tec_5g_nsa

NameError: name 'tec_5g_nsa' is not defined

In [ ]:
df['Tecnologia Geração'].unique()

In [ ]:
## comandos para plotar um gráfico do pyplot do matplotlib

grafico_1 = plt.figure(figsize=(8,5))
plt.plot(tec_1g["ano"], tec_1g["percentual"], label = "1G", linewidth = 2.5, color = "cyan") #argumentos são eixo x e eixo y
plt.plot(tec_2g["ano"], tec_2g["percentual"], label = "2G", linewidth = 2.5, color = "green")
plt.plot(tec_3g["ano"], tec_3g["percentual"], label = "3G", linewidth = 2.5, color = "purple")
plt.plot(tec_m2m["ano"], tec_m2m["percentual"], label = "M2M", linewidth = 2.5, color = "gold")
plt.plot(tec_4g["ano"], tec_4g["percentual"], label = "4G", linewidth = 2.5, color = "red")
plt.plot(tec_5g["ano"], tec_5g["percentual"], label = "5G", linewidth = 2.5, color = "magenta")
# plt.plot(tec_5g_nsa["ano"], tec_5g_nsa["percentual"], label = "5G-NSA", linewidth = 2.5, color = "blue")
plt.title("Evolução das Tecnologias de Geração \n Anos 2009 a 2023", fontweight='bold')
plt.xlabel("Período")
plt.ylabel("Acessos no ano (%)")
plt.annotate('Ápice do 3G', (2015,60), xytext=(2015 + 1, 60 + 6),
             arrowprops=dict(facecolor='black', shrink=0.05))
plt.annotate('4G é a tecnologia mais utilizada atualmente', (2023,80), xytext=(2015, 80 + 10),
             arrowprops=dict(facecolor='black', shrink=0.05))
plt.ticklabel_format(style="plain", axis="y")
plt.grid()
plt.legend()
plt.show()

plt.savefig('grafico_tecnologia_estatico.png')

In [ ]:
#criando um gráfico de linhas responsivo
grafico_2 = px.line(df, x = "ano", y = "percentual", color="Tecnologia Geração").update_layout(
xaxis_title = "Período",
yaxis_title = "Acessos no ano (%)",
title = "Evolução das Tecnologias de Geração - Anos 2009 a 2023",
title_font_color = "blue",
title_font_size = 24,
title_x = 0.05,
title_y = 0.93,
xaxis_color = "blue",
yaxis_color = "blue",
xaxis_title_font=dict(size=16),
yaxis_title_font=dict(size=16))

#o title_x pode varia de 0 a 1, e é a centralização do título em relação ao eixo x (ajuste na horizontal)
#o title_y é o ajuste na vertical (varia de 0 a 1)

grafico_2

In [ ]:
grafico_2.write_html('grafico_tecnologia_dinamico.html')