**Ler o df de dados de 5g por UF**

In [1]:
import pandas as pd

In [2]:
tec_2023_5g_por_estado = pd.read_csv('./tec_2023_5g_por_estado.csv',sep =';')
tec_2023_5g_por_estado.head()

   UF  media_ano percentual   ano
0  AC   42571,67       0,43  2023
1  AL   99599,12        1,0  2023
2  AM  228856,38        2,3  2023
3  AP   43455,25       0,44  2023
4  BA  324916,81       3,27  2023

In [3]:
tec_2023_5g_por_estado.rename(columns=str.lower, inplace=True) #renomear as colunas para minúsculas

In [4]:

tec_2023_5g_por_estado.head()

   uf  media_ano percentual   ano
0  AC   42571,67       0,43  2023
1  AL   99599,12        1,0  2023
2  AM  228856,38        2,3  2023
3  AP   43455,25       0,44  2023
4  BA  324916,81       3,27  2023

**Ler o df de latitude e longitude das UFs**

In [5]:
estados = pd.read_csv('./estados_georreferenciamento.csv',sep =',',encoding ='latin1',header = 0)

In [6]:
estados.head(5)

   ï»¿codigo_uf  uf       nome  latitude  longitude regiao
0            11  RO  RondÃ´nia    -10.83     -63.34  Norte
1            12  AC       Acre     -8.77     -70.55  Norte
2            13  AM   Amazonas     -3.47     -65.10  Norte
3            14  RR    Roraima      1.99     -61.33  Norte
4            15  PA      ParÃ¡     -3.79     -52.48  Norte

In [7]:
estados.info() #verificar as infos do df estados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ï»¿codigo_uf  27 non-null     int64
 1   uf            27 non-null     object
 2   nome          27 non-null     object
 3   latitude      27 non-null     float64
 4   longitude     27 non-null     float64
 5   regiao        27 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 1.4+ KB

In [8]:
estados = estados.rename(columns={'ï»¿codigo_uf': 'codigo_uf'}) #renomear a coluna código uf
estados.head()

   codigo_uf  uf       nome  latitude  longitude regiao
0         11  RO  RondÃ´nia    -10.83     -63.34  Norte
1         12  AC       Acre     -8.77     -70.55  Norte
2         13  AM   Amazonas     -3.47     -65.10  Norte
3         14  RR    Roraima      1.99     -61.33  Norte
4         15  PA      ParÃ¡     -3.79     -52.48  Norte

In [9]:
estados.drop('nome', axis=1, inplace=True) #retirar a coluna nome
estados.head()

   codigo_uf  uf  latitude  longitude regiao
0         11  RO    -10.83     -63.34  Norte
1         12  AC     -8.77     -70.55  Norte
2         13  AM     -3.47     -65.10  Norte
3         14  RR      1.99     -61.33  Norte
4         15  PA     -3.79     -52.48  Norte

**Fazer um merge dos dfs: estados e tec_2023_5g_por_estado**

In [10]:
estados_5g = pd.merge(estados, tec_2023_5g_por_estado, on='uf')
estados_5g.head()

   codigo_uf  uf  latitude  longitude regiao  media_ano percentual   ano
0         11  RO    -10.83     -63.34  Norte   73255,13       0,74  2023
1         12  AC     -8.77     -70.55  Norte   42571,67       0,43  2023
2         13  AM     -3.47     -65.10  Norte  228856,38        2,3  2023
3         14  RR      1.99     -61.33  Norte   49643,86        0,5  2023
4         15  PA     -3.79     -52.48  Norte  224600,41       2,26  2023

**Capturar os valores de latitude, longitude e UFs que serão colocados no mapa**

In [11]:
latitude = (estados_5g['latitude'])
latitude.values

array([-10.83,  -8.77,  -3.47,   1.99,  -3.79,   1.41,  -9.46,  -5.42,
        -6.6 ,  -5.2 ,  -5.81,  -7.28,  -8.38,  -9.62, -10.57, -13.29,
       -18.1 , -19.19, -22.25, -22.19, -24.89, -27.45, -30.17, -20.51,
       -12.64, -15.98, -15.83])

In [12]:
longitude = (estados_5g['longitude'])
longitude.values

array([-63.34, -70.55, -65.1 , -61.33, -52.48, -51.77, -48.26, -45.44,
       -42.28, -39.53, -36.59, -36.72, -37.86, -36.82, -37.45, -41.71,
       -44.38, -40.34, -42.66, -48.79, -51.55, -50.95, -53.5 , -54.54,
       -55.42, -49.86, -47.86])

In [13]:
uf = (estados_5g['uf'])
uf.values

array(['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN',
       'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF'], dtype=object)

In [14]:
uf = (estados_5g['percentual'])
uf.values

array(['0,74', '0,43', '2,3', '0,5', '2,26', '0,44', '0,61', '1,16',
       '0,78', '3,03', '1,06', '1,13', '2,89', '1,0', '0,74', '3,27',
       '5,89', '1,79', '13,44', '35,08', '4,78', '2,29', '3,17', '1,4',
       '1,34', '3,83', '4,68'], dtype=object)

In [15]:
estados_5g['percentual'].dtype

dtype('O')

In [16]:
#transformando o percentual que está como type object para tipo float
estados_5g['percentual'] = estados_5g['percentual'].str.replace(',', '.', regex=True).astype(float)

In [17]:
estados_5g['percentual'].dtype

dtype('float64')

In [18]:

estados_5g['percentual'].values

array([ 0.74,  0.43,  2.3 ,  0.5 ,  2.26,  0.44,  0.61,  1.16,  0.78,
        3.03,  1.06,  1.13,  2.89,  1.  ,  0.74,  3.27,  5.89,  1.79,
       13.44, 35.08,  4.78,  2.29,  3.17,  1.4 ,  1.34,  3.83,  4.68])

**Gerar o MAPA**

In [19]:
import folium

# Dados 
data = {
    'latitude': [-10.83, -8.77, -3.47, 1.99, -3.79, 1.41, -9.46, -5.42, -6.6, -5.2, -5.81, -7.28, -8.38, -9.62, -10.57, -13.29, -18.1, -19.19, -22.25, -22.19, -24.89, -27.45, -30.17, -20.51, -12.64, -15.98, -15.83],
    'longitude': [-63.34, -70.55, -65.1, -61.33, -52.48, -51.77, -48.26, -45.44, -42.28, -39.53, -36.59, -36.72, -37.86, -36.82, -37.45, -41.71, -44.38, -40.34, -42.66, -48.79, -51.55, -50.95, -53.5, -54.54, -55.42, -49.86, -47.86],
    'uf': ['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC', 'RS', 'MS', 'MT', 'GO', 'DF'],
    'percentual': [0.74, 0.43, 2.3, 0.5, 2.26, 0.44, 0.61, 1.16, 0.78, 3.03, 1.06, 1.13, 2.89, 1.0, 0.74, 3.27, 5.89, 1.79, 13.44, 35.08, 4.78, 2.29, 3.17, 1.4, 1.34, 3.83, 4.68]
}

estados_5g = pd.DataFrame(data)

# Criar um mapa base
#mapa = folium.Map(location=[estados_5g['latitude'].mean(), estados_5g['longitude'].mean()], zoom_start=4)

mapa = folium.Map(location=[-10, -55], zoom_start=4) #esse item é para definir área do Brasil, também pode ser usado

# Adicionando um título ao mapa

title_html = '''
             <h3 align="center" style="font-size:20px"><b>Percentual de acesso 5G por UF</b></h3>
             '''
mapa.get_root().html.add_child(folium.Element(title_html))

              
# Adicionar marcadores com percentual como texto incorporado
for i in range(len(estados_5g)):
    uf = estados_5g.loc[i, 'uf']
    percentual = estados_5g.loc[i, 'percentual']
    html = f"<div style='font-size: 12pt'>{percentual:.2f}%</div>"
    iframe = folium.IFrame(html, width=50, height=50)
    popup = folium.Popup(iframe, max_width=300)
    marker = folium.Marker(
        location=[estados_5g.loc[i, 'latitude'], estados_5g.loc[i, 'longitude']],
        popup=popup,
        icon=folium.DivIcon(html=f"<div style='color:blak'>{uf}</div>")
    )
    marker.add_to(mapa)

# Adicionando eventos para exibir percentual e alterar a cor quando o cursor passa

fg = folium.FeatureGroup(name="Estados")
mapa.add_child(fg)
for i in range(len(estados_5g)):
    uf = estados_5g.loc[i, 'uf']
    percentual = estados_5g.loc[i, 'percentual']
    iframe = folium.IFrame(html, width=50, height=50)
    popup = folium.Popup(iframe, max_width=300)
    marker = folium.Marker(
        location=[estados_5g.loc[i, 'latitude'], estados_5g.loc[i, 'longitude']],
        icon=folium.DivIcon(html=f"<div style='color: black'>{uf}</div>")
    )
    marker.add_to(fg)
    fg.add_child(marker)
    
# Adicionar o pin para cada UF
    
    folium.Marker(
        location=[estados_5g.loc[i, 'latitude'], estados_5g.loc[i, 'longitude']],
        tooltip=f"{uf}: {percentual:.2f}%",
        ).add_to(mapa)

# Salvar o mapa como um arquivo HTML
mapa.save('mapa_estados_5g_com_tooltip.html')

In [20]:
#exportar para webbrouser

import webbrowser

webbrowser.open('mapa_estados_5g_com_tooltip.html')

True