# Fazendo a junção dos dataframes referentes à análise de tecnologia

In [1]:
# responsável: Beatriz Pierri

In [2]:
# usei como base o notebook que a fernanda e helio fizeram para fazer os merges das planilhas de 
# concentração de mercado (cm) e de calculo de hhi (hhi)

In [15]:
# Obs.: deu erro ao trazer a coluna ano em 2 arquivos: df_tec_5g_por_estado e df_tec_5g_por_municipio

In [3]:
# chamando as bibliotecas

import os
import glob

# os é a biblioteca para interagir com o sistema operacional
# glob é um módulo da biblioteca padrão do Python, que torna a correspondência de caminhos de arquivos e 
# a realização de diversas tarefas relacionadas a arquivos uma tarefa mais simples e eficaz

In [4]:
# criando uma funcao que vai popular uma lista com os nomes dos arquivos que terminam com a extensão
# csv e estao no diretorio especificado

# preencher a variável 'diretorio' com o caminho para a pasta que contém os arquivos:

def lista_arquivos_csv(diretorio = './data/tecnologia'):
    return(glob.glob(os.path.join(diretorio, '*.csv')))

# criamos uma função para listar todos os arquivos CSV contidos em um diretório específico. 
# def lista_arquivos_csv(diretorio): estamos definindo o nome da nossa função, e ela aceira como argumento
# um diretorio (para chamar essa funçãotemos que fornecer um diretório como argumento
# os.path.join(diretorio, '*.csv'): esta parte da função cria um caminho completo para os arquivos CSV 
# no diretório especificado
# os.path.join() é usado para combinar o caminho do diretório (diretorio) com o padrão de arquivo '*.csv', 
# o que resulta em algo como diretorio/*.csv.
# glob.glob(...): a função glob.glob() é usada para encontrar todos os arquivos que correspondam ao 
# padrão especificado no diretório fornecido: ele procura todos os arquivos que terminam com ".csv" 
# no diretório especificado e popula uma lista com esses arquivos

In [5]:
lista_arquivos_csv()

['./data/tecnologia\\tec_2009_geracao.csv',
 './data/tecnologia\\tec_2009_tipo.csv',
 './data/tecnologia\\tec_2010_geracao.csv',
 './data/tecnologia\\tec_2010_tipo.csv',
 './data/tecnologia\\tec_2011_geracao.csv',
 './data/tecnologia\\tec_2011_tipo.csv',
 './data/tecnologia\\tec_2012_geracao.csv',
 './data/tecnologia\\tec_2012_tipo.csv',
 './data/tecnologia\\tec_2013_geracao.csv',
 './data/tecnologia\\tec_2013_tipo.csv',
 './data/tecnologia\\tec_2014_geracao.csv',
 './data/tecnologia\\tec_2014_tipo.csv',
 './data/tecnologia\\tec_2015_geracao.csv',
 './data/tecnologia\\tec_2015_tipo.csv',
 './data/tecnologia\\tec_2016_geracao.csv',
 './data/tecnologia\\tec_2016_tipo.csv',
 './data/tecnologia\\tec_2017_geracao.csv',
 './data/tecnologia\\tec_2017_tipo.csv',
 './data/tecnologia\\tec_2018_geracao.csv',
 './data/tecnologia\\tec_2018_tipo.csv',
 './data/tecnologia\\tec_2019_geracao.csv',
 './data/tecnologia\\tec_2019_modalidade.csv',
 './data/tecnologia\\tec_2019_tipo.csv',
 './data/tecnologia\\tec_2020_geracao.csv',
 './data/tecnologia\\tec_2020_modalidade.csv',
 './data/tecnologia\\tec_2020_tipo.csv',
 './data/tecnologia\\tec_2021_5g_por_estado.csv',
 './data/tecnologia\\tec_2021_5g_por_municipio.csv',
 './data/tecnologia\\tec_2021_geracao.csv',
 './data/tecnologia\\tec_2021_modalidade.csv',
 './data/tecnologia\\tec_2021_tipo.csv',
 './data/tecnologia\\tec_2022_5g_por_estado.csv',
 './data/tecnologia\\tec_2022_5g_por_municipio.csv',
 './data/tecnologia\\tec_2022_geracao.csv',
 './data/tecnologia\\tec_2022_modalidade.csv',
 './data/tecnologia\\tec_2022_tipo.csv',
 './data/tecnologia\\tec_2023_5g_por_estado.csv',
 './data/tecnologia\\tec_2023_5g_por_municipio.csv',
 './data/tecnologia\\tec_2023_geracao.csv',
 './data/tecnologia\\tec_2023_modalidade.csv',
 './data/tecnologia\\tec_2023_tipo.csv']

In [6]:
def ano_arquivo(nome_arquivo):
    parte = (nome_arquivo.split('_')[-2])
    return parte

# criando uma função que vai percorrer os meus arquivos e separar (split) os elementos do nome do 
# arquivo quando encontrar um padrão que eu defini (no caso, um underline '_'), começando, de traz
# pra frente[-], e fazendo o split no segundo [-2] travessão

In [7]:
import pandas as pd 
from pandas import DataFrame


def le_baseRS(prefixo,sufixo):
    df_consolidado = DataFrame()
    for arquivo in lista_arquivos_csv():
        if arquivo.find(prefixo) != -1 and arquivo.find(sufixo) != -1:      # para verificar que tem o prefixo e sufixo    
            ano = ano_arquivo(arquivo)
            df_ano = pd.read_csv(arquivo, sep=';', header=0)
            df_ano['ano']=ano
            df_consolidado = pd.concat([df_consolidado,df_ano])
    return df_consolidado


df_tec_tipo = le_baseRS('tec','tipo')
df_tec_geracao = le_baseRS('tec','geracao')
df_tec_modalidade = le_baseRS('tec','modalidade')
df_tec_5g_por_estado = le_baseRS('tec','5g_por_estado')
df_tec_5g_por_municipio = le_baseRS('tec','5g_por_municipio')

In [8]:
df_tec_tipo.columns

Index(['Tecnologia', 'media_ano', 'percentual', 'ano'], dtype='object')

In [9]:
df_tec_tipo

         Tecnologia    media_ano            percentual   ano
0              AMPS      5740,45  0,003543340898983565  2009
1        CDMA IS 95    9678606,1      5,97420077507544  2009
2          CDMA2000    194045,13   0,11977598365591245  2009
3             Dados          0,0                   0,0  2009
4   Dados > 256kbps   2079988,35    1,2838902507581011  2009
..              ...          ...                   ...   ...
0        CDMA IS 95        97,24                   0,0  2023
1               GSM  22549343,92                  8,97  2023
2               LTE  196634586,5                  78,2  2023
3                NR   9949847,39                  3,96  2023
4             WCDMA  22322611,36                  8,88  2023

[164 rows x 4 columns]

In [10]:
df_tec_geracao

    Tecnologia Geração     media_ano            percentual   ano
0                   1G       5740,45  0,003543340898983565  2009
1                   2G  157632264,71     97,29983721595812  2009
2                   3G    4368704,43    2,6966194431429042  2009
3                   4G           0,0                   0,0  2009
4                  M2M           0,0                   0,0  2009
..                 ...           ...                   ...   ...
4   5G Non Stand Alone    1077525,57                  0,42  2022
0                   2G   22549441,16                  8,97  2023
1                   3G   22322611,36                  8,88  2023
2                   4G   196634586,5                  78,2  2023
3                   5G    9949847,39                  3,96  2023

[69 rows x 4 columns]

In [11]:
df_tec_modalidade

   Tecnologia Geração Modalidade de Cobrança     media_ano percentual   ano
0                  2G               Pré-pago   14939966,81      46,68  2019
1                  2G               Pós-pago   17062516,98      53,32  2019
2                  3G               Pré-pago    29163188,7      56,78  2019
3                  3G               Pós-pago   22194894,48      43,22  2019
4                  4G               Pré-pago   79078321,37      54,91  2019
5                  4G               Pós-pago   64941500,47      45,09  2019
0                  2G               Pré-pago   11362071,56      40,32  2020
1                  2G               Pós-pago   16814961,77      59,68  2020
2                  3G               Pré-pago   16551886,32      44,48  2020
3                  3G               Pós-pago   20663487,07      55,52  2020
4                  4G               Pré-pago   86556032,14       53,3  2020
5                  4G               Pós-pago   75842100,94       46,7  2020
0                  2G               Pré-pago    9815666,24      36,53  2021
1                  2G               Pós-pago   17052752,28      63,47  2021
2                  3G               Pré-pago   10589118,56      34,76  2021
3                  3G               Pós-pago   19870721,78      65,24  2021
4                  4G               Pré-pago   97084023,27      51,55  2021
5                  4G               Pós-pago   91231427,72      48,45  2021
6                  5G               Pré-pago      47316,62      18,54  2021
7                  5G               Pós-pago     207885,95      81,46  2021
0                  2G               Pré-pago    8923751,51      33,79  2022
1                  2G               Pós-pago   17485074,47      66,21  2022
2                  3G               Pré-pago    7176729,95      26,51  2022
3                  3G               Pós-pago   19894148,41      73,49  2022
4                  4G               Pré-pago  101505539,87      50,32  2022
5                  4G               Pós-pago  100224880,95      49,68  2022
6                  5G               Pré-pago     420244,24      19,05  2022
7                  5G               Pós-pago    1785815,97      80,95  2022
8  5G Non Stand Alone               Pré-pago     185409,47      17,21  2022
9  5G Non Stand Alone               Pós-pago      892116,1      82,79  2022
0                  2G               Pré-pago    6092339,77      27,02  2023
1                  2G               Pós-pago   16457101,39      72,98  2023
2                  3G               Pré-pago    4667046,26      20,91  2023
3                  3G               Pós-pago    17655565,1      79,09  2023
4                  4G               Pré-pago    96746504,1       49,2  2023
5                  4G               Pós-pago    99888082,4       50,8  2023
6                  5G               Pré-pago    2204584,58      22,16  2023
7                  5G               Pós-pago    7745262,81      77,84  2023

In [12]:
df_tec_5g_por_estado

    UF   media_ano percentual  ano
0   AC      503,33        0,2  por
1   AM     4512,74       1,77  por
2   BA     8279,56       3,24  por
3   CE     5845,42       2,29  por
4   DF    22448,74        8,8  por
..  ..         ...        ...  ...
22  RS   315302,84       3,17  por
23  SC   227845,95       2,29  por
24  SE    73527,62       0,74  por
25  SP  3490319,75      35,08  por
26  TO    60266,02       0,61  por

[75 rows x 4 columns]

In [13]:
df_tec_5g_por_municipio

           Município percentual  ano
0          São Paulo      34,85  por
1     Rio de Janeiro      16,37  por
2           Brasília        8,8  por
3     Belo Horizonte       5,04  por
4           Curitiba       4,28  por
..               ...        ...  ...
304           Curuçá        0,0  por
305  Cruzeiro do Sul        0,0  por
306        Mara Rosa        0,0  por
307          Corumbá        0,0  por
308  Abadia de Goiás        0,0  por

[443 rows x 3 columns]

In [14]:
# passando meus arquivos já "merged" (todos os anos em uma planilha) para aquivos csv, por 
# tipo de dado (tecnologia, tecnologia geracao, modalidade, 5g estado e 5g municipio)

df_tec_tipo.to_csv('df_tec_tipo.csv', sep=';', decimal = ",", encoding='utf-8')
df_tec_geracao.to_csv('df_tec_geracao.csv', sep=';', decimal = ",", encoding='utf-8')
df_tec_modalidade.to_csv('df_tec_modalidade.csv', sep=';', decimal = ",", encoding='utf-8')
df_tec_5g_por_estado.to_csv('df_tec_5g_por_estado.csv', sep=';', decimal = ",", encoding='utf-8')
df_tec_5g_por_municipio.to_csv('df_tec_5g_por_municipio.csv', sep=';', decimal = ",", encoding='utf-8')