In [1]:
# notebook: Beatriz Pierri

In [2]:
import pandas as pd

In [3]:
# gerando o ranking 5G Top 10 dos municípios em 2023

In [4]:
# arquivo: tec_2023_5g_por_municipio.csv
# este arquivo foi gerado a partir dos dados de tecnologia de 2023 (rodados pela Lilian/Graciele)

In [5]:
municipios_2023 = pd.read_csv('./tec_2023_5g_por_municipio.csv', sep = ';')
# Bootcamp Enap/projeto-smp/tec_5g_por_estado_2022.csv

In [6]:
municipios_2023.head(20)

                Município percentual   ano
0               São Paulo      19,52  2023
1          Rio de Janeiro       9,73  2023
2                Brasília       4,68  2023
3          Belo Horizonte       3,85  2023
4                Curitiba       3,43  2023
5               Fortaleza       2,78  2023
6                 Goiânia       2,62  2023
7                Salvador       2,57  2023
8                  Manaus        2,3  2023
9            Porto Alegre       2,08  2023
10               Campinas        1,9  2023
11                 Recife       1,87  2023
12                  Belém       1,52  2023
13              Guarulhos       1,42  2023
14          Florianópolis        1,2  2023
15           Campo Grande       1,17  2023
16  São Bernardo do Campo       1,06  2023
17                 Cuiabá       1,06  2023
18               São Luís       1,03  2023
19         Ribeirão Preto       0,99  2023

In [7]:
# definindo que nossa tabela será apenas o top 10 municípios com mais 5G em 2023

top10_5g_municipios = municipios_2023.head(10)

In [8]:
top10_5g_municipios

        Município percentual   ano
0       São Paulo      19,52  2023
1  Rio de Janeiro       9,73  2023
2        Brasília       4,68  2023
3  Belo Horizonte       3,85  2023
4        Curitiba       3,43  2023
5       Fortaleza       2,78  2023
6         Goiânia       2,62  2023
7        Salvador       2,57  2023
8          Manaus        2,3  2023
9    Porto Alegre       2,08  2023

In [9]:
# atalizando o índice para ficar de 1 a 10 (em vez de 0 a 9)

top10_5g_municipios.index = top10_5g_municipios.index + 1

In [10]:
top10_5g_municipios

         Município percentual   ano
1        São Paulo      19,52  2023
2   Rio de Janeiro       9,73  2023
3         Brasília       4,68  2023
4   Belo Horizonte       3,85  2023
5         Curitiba       3,43  2023
6        Fortaleza       2,78  2023
7          Goiânia       2,62  2023
8         Salvador       2,57  2023
9           Manaus        2,3  2023
10    Porto Alegre       2,08  2023

In [11]:
top10_5g_municipios = top10_5g_municipios.drop(columns = ['ano'])

In [12]:
top10_5g_municipios

         Município percentual
1        São Paulo      19,52
2   Rio de Janeiro       9,73
3         Brasília       4,68
4   Belo Horizonte       3,85
5         Curitiba       3,43
6        Fortaleza       2,78
7          Goiânia       2,62
8         Salvador       2,57
9           Manaus        2,3
10    Porto Alegre       2,08

In [13]:
# adicionando um mulindex nas colunas (para ser o cabeçalho da nossa tabela)

top10_5g_municipios.columns = [['Tecnologia 5G - Top 10 Municípios (2023)', 'Tecnologia 5G - Top 10 Municípios (2023)'], ['Municípios', 'percentual']]

In [14]:
top10_5g_municipios

   Tecnologia 5G - Top 10 Municípios (2023)
                                 Municípios percentual
1                                 São Paulo      19,52
2                            Rio de Janeiro       9,73
3                                  Brasília       4,68
4                            Belo Horizonte       3,85
5                                  Curitiba       3,43
6                                 Fortaleza       2,78
7                                   Goiânia       2,62
8                                  Salvador       2,57
9                                    Manaus        2,3
10                             Porto Alegre       2,08