In [95]:
import pandas as pd
sem1_2020 = pd.read_csv('./data/Acessos_Telefonia_Movel_202001-202006_Colunas.csv', sep=';', encoding='utf-8')
sem2_2020 = pd.read_csv('./data/Acessos_Telefonia_Movel_202007-202012_Colunas.csv', sep=';', encoding='utf-8')

In [96]:
df_2020 = pd.merge(sem1_2020, sem2_2020, how='outer')

In [97]:
df_2020.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,7.0,7.0,10.0,12.0,13.0,14.0,16.0,19.0,21.0,21.0
1,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,26.0,24.0,26.0,18.0,16.0,16.0,17.0,18.0,19.0,19.0
2,1778972000174,11,Alumínio,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,1652.0,1669.0,1688.0,1603.0,1849.0,1879.0,1968.0,2092.0,2138.0,2209.0
4,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,25.0,25.0,24.0,22.0,22.0,36.0,31.0,31.0,29.0,30.0

In [98]:
# usando outer join --> (291492, 38)
# sem1_2020.shape --> (291492, 19)
# sem2_2020.shape --> (267298, 19)
df_2020.shape

(304437, 25)

In [99]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304437 entries, 0 to 304436
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CNPJ                    304437 non-null  int64
 1   Código Nacional         304437 non-null  int64
 2   Município               304437 non-null  object
 3   UF                      304437 non-null  object
 4   Modalidade de Cobrança  304437 non-null  object
 5   Tecnologia              304437 non-null  object
 6   Tecnologia Geração      304437 non-null  object
 7   Empresa                 304437 non-null  object
 8   Porte da Prestadora     304437 non-null  object
 9   Tipo de Pessoa          304437 non-null  object
 10  Tipo de Produto         304437 non-null  object
 11  Código IBGE Município   304437 non-null  int64
 12  Grupo Econômico         304437 non-null  object
 13  2020-01                 263784 non-null  float64
 14  2020-02                 265599 non-null  float64
 15  2020-03                 265983 non-null  float64
 16  2020-04                 246539 non-null  float64
 17  2020-05                 246468 non-null  float64
 18  2020-06                 247082 non-null  float64
 19  2020-07                 247293 non-null  float64
 20  2020-08                 249829 non-null  float64
 21  2020-09                 246921 non-null  float64
 22  2020-10                 243209 non-null  float64
 23  2020-11                 246003 non-null  float64
 24  2020-12                 246448 non-null  float64
dtypes: float64(12), int64(3), object(10)
memory usage: 58.1+ MB

In [100]:
df_2020.isna().sum()

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                       0
Porte da Prestadora           0
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico               0
2020-01                   40653
2020-02                   38838
2020-03                   38454
2020-04                   57898
2020-05                   57969
2020-06                   57355
2020-07                   57144
2020-08                   54608
2020-09                   57516
2020-10                   61228
2020-11                   58434
2020-12                   57989
dtype: int64

In [104]:
# Olhando para cada coluna dos meses, o maior percentual de NaN foi de 25.18 em 2020-10
nan_percent = (df_2020.isna().sum() / df_2020.count() * 100).round(2)
nan_percent

CNPJ                       0.00
Código Nacional            0.00
Município                  0.00
UF                         0.00
Modalidade de Cobrança     0.00
Tecnologia                 0.00
Tecnologia Geração         0.00
Empresa                    0.00
Porte da Prestadora        0.00
Tipo de Pessoa             0.00
Tipo de Produto            0.00
Código IBGE Município      0.00
Grupo Econômico            0.00
2020-01                   15.41
2020-02                   14.62
2020-03                   14.46
2020-04                   23.48
2020-05                   23.52
2020-06                   23.21
2020-07                   23.11
2020-08                   21.86
2020-09                   23.29
2020-10                   25.18
2020-11                   23.75
2020-12                   23.53
dtype: float64

In [105]:
# Substituir os NaN por zero
df_2020 = df_2020.fillna(0)
# df_2020.isna().sum()

In [150]:
# Criar coluna de média
colunas_media = ['2020-01','2020-02','2020-03','2020-04','2020-05','2020-06','2020-07','2020-08','2020-09','2020-10','2020-11','2020-12']
df_2020['media_ano'] = round(df_2020[colunas_media].mean(axis=1),2)
#df_2020.head()

In [107]:
def analise_descritiva(df):
    #tipo de dado que tenho em cada coluna do dataframe (ou quantidade, ou qualidade)

    # CNPJ (quantidade)
    print(f"CNPJ - ", len(df['CNPJ'].unique()))

    print()
    # Codigo nacional (quantidade)
    print(f"Código Nacional - ", len(df['Código Nacional'].unique()))

    print()
    # Município (quantidade)
    print(f"Município - ", len(df['Município'].unique()))

    print()
    # UF (dados)
    print(f"UF - ", len(df['UF'].unique()))
    print(f"UF - ", df['UF'].unique())

    print()
    # Modalidade de Cobrança (quantidade)
    print(f"Modalidade de Cobrança - ", len(df['Modalidade de Cobrança'].unique()))
    # Modalidade de Cobrança (dados)
    print(f"Modalidade de Cobrança - ", df['Modalidade de Cobrança'].unique())

    print()
    # Tecnologia (quantidade)
    print(f"Tecnologia - ", len(df['Tecnologia'].unique()))
    # Tecnologia (dados)
    print(f"Tecnologia - ", df['Tecnologia'].unique())

    print()
    # Tecnologia Geração (quantidade)
    print(f"Tecnologia Geração - ", len(df['Tecnologia Geração'].unique()))
    # Tecnologia Geração (dados)
    print(f"Tecnologia Geração - ", df['Tecnologia Geração'].unique())

    print()
    # Empresa (quantidade)
    print(f"Empresa - ", len(df['Empresa'].unique()))
    # Empresa (dados)
    print(f"Empresa - ", df['Empresa'].unique())

    print()
    # Porte da Prestadora (quantidade)
    print(f"Porte da Prestadora - ", len(df['Porte da Prestadora'].unique()))
    # Porte da Prestadora (dados)
    print(f"Porte da Prestadora - ", df['Porte da Prestadora'].unique())

    print()
    # Tipo de Pessoa (quantidade)
    print(f"Tipo de Pessoa - ", len(df['Tipo de Pessoa'].unique()))
    # Tipo de Pessoa (dados)
    print(f"Tipo de Pessoa - ", df['Tipo de Pessoa'].unique())

    print()
    # Tipo de Produto (quantidade)
    print(f"Tipo de Produto - ", len(df['Tipo de Produto'].unique()))
    # Tipo de Produto (dados)
    print(f"Tipo de Produto - ", df['Tipo de Produto'].unique())

    print()
    # Código IBGE Município (quantidade)
    print(f"Código IBGE Município - ", len(df['Código IBGE Município'].unique()))

    print()
    # Grupo Econômico (quantidade)
    print(f"Grupo Econômico - ", len(df['Grupo Econômico'].unique()))
    # Grupo Econômico (dados)
    print(f"Grupo Econômico - ", df['Grupo Econômico'].unique())

In [108]:
analise_descritiva(df_2020)

CNPJ -  12

Código Nacional -  67

Município -  5297

UF -  27
UF -  ['SP' 'RJ' 'ES' 'MG' 'PR' 'SC' 'RS' 'GO' 'DF' 'MT' 'BA' 'SE' 'PE' 'AM'
 'TO' 'MS' 'AC' 'RO' 'AL' 'PB' 'RN' 'CE' 'PI' 'PA' 'RR' 'AP' 'MA']

Modalidade de Cobrança -  2
Modalidade de Cobrança -  ['Pós-pago' 'Pré-pago']

Tecnologia -  4
Tecnologia -  ['LTE' 'GSM' 'WCDMA' 'CDMA IS 95']

Tecnologia Geração -  3
Tecnologia Geração -  ['4G' '2G' '3G']

Empresa -  13
Empresa -  ['America Net S.a.' 'CLARO' 'SURF TELECOM SA' 'Ligue Móvel S.A' 'NEXTEL'
 'PREFEITURA DE LONDRINA/COPEL' 'TIM' 'ALGAR (CTBC TELECOM)' 'VIVO'
 'DATORA' 'J. SAFRA TELECOMUNICACOES LTDA' 'OI' 'LIGGA TELECOM']

Porte da Prestadora -  2
Porte da Prestadora -  ['Pequeno Porte' 'Grande Porte']

Tipo de Pessoa -  2
Tipo de Pessoa -  ['Pessoa Física' 'Pessoa Jurídica']

Tipo de Produto -  7
Tipo de Produto -  ['VOZ+DADOS' 'VOZ' 'M2M_PADRAO' 'M2M_ESPECIAL' 'DADOS' 'OCIOSO'
 'OCIOSO_M2M_ESPECIAL']

Código IBGE Município -  5570

Grupo Econômico -  10
Grupo Econômico -  ['OUTROS' 'TELECOM AMERICAS' 'NEXTEL' 'PREFEITURA DE LONDRINA/COPEL'
 'TELECOM ITALIA' 'ALGAR (CTBC TELECOM)' 'TELEFÔNICA' 'DATORA' 'OI'
 'LIGGA TELECOM']

In [109]:
### Pensei em fazer isso pra formatar, mas quando fiz o round na coluna média não precisou mais (só precisou para as estatísticas descritivas)
 def formatar_com_casas_de_milhar(numero):
     return "{:,.0f}".format(numero)

In [152]:
soma_grupoeco = df_2020.groupby(['Grupo Econômico'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_grupoeco = soma_grupoeco.apply(formatar_com_casas_de_milhar)
soma_grupoeco

Grupo Econômico
TELEFÔNICA                      75711583.77
TELECOM AMERICAS                56281212.87
TELECOM ITALIA                  52150637.46
OI                              36644565.81
NEXTEL                           3338037.72
ALGAR (CTBC TELECOM)             2191119.82
OUTROS                            835138.41
DATORA                            586359.84
PREFEITURA DE LONDRINA/COPEL       47706.32
LIGGA TELECOM                       4177.78
Name: media_ano, dtype: float64

In [153]:
soma_empresa = df_2020.groupby(['Empresa'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_empresa = soma_empresa.apply(formatar_com_casas_de_milhar)
soma_empresa

Empresa
VIVO                              75711583.77
CLARO                             56281212.87
TIM                               52150637.46
OI                                36644565.81
NEXTEL                             3338037.72
ALGAR (CTBC TELECOM)               2191119.82
DATORA                              586359.84
SURF TELECOM SA                     438166.56
J. SAFRA TELECOMUNICACOES LTDA      355653.26
PREFEITURA DE LONDRINA/COPEL         47706.32
America Net S.a.                     41239.59
LIGGA TELECOM                         4177.78
Ligue Móvel S.A                         79.00
Name: media_ano, dtype: float64

In [154]:
soma_ddd = df_2020.groupby(['Código Nacional'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_ddd = soma_ddd.apply(formatar_com_casas_de_milhar)
soma_ddd

Código Nacional
11    38139651.33
21    14313026.72
31     8996418.70
19     8520464.53
81     7019362.07
         ...
96      735944.89
28      645927.95
46      580713.83
95      526695.26
97      509878.27
Name: media_ano, Length: 67, dtype: float64

In [155]:
soma_uf = df_2020.groupby(['UF'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_uf = soma_uf.apply(formatar_com_casas_de_milhar)
soma_uf

UF
SP    68218238.80
MG    21697991.78
RJ    18486325.39
BA    12948612.14
RS    12852449.66
PR    12161975.06
PE     8848142.62
CE     7884778.16
GO     7709877.55
SC     7544850.82
PA     7023155.25
MA     5226085.10
ES     4004461.43
DF     3678514.65
AM     3660578.37
PB     3636079.35
MT     3606636.85
RN     3024036.32
PI     2887491.92
MS     2866402.38
AL     2656673.71
SE     2080032.73
RO     1612842.86
TO     1454213.49
AC      757453.26
AP      735944.89
RR      526695.26
Name: media_ano, dtype: float64

In [156]:
soma_ge_uf = df_2020.groupby(['Grupo Econômico','UF'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_ge_uf = soma_ge_uf.apply(formatar_com_casas_de_milhar)
soma_ge_uf.head(10)

Grupo Econômico   UF
TELEFÔNICA        SP    25107616.27
TELECOM AMERICAS  SP    17107421.98
TELECOM ITALIA    SP    15513332.52
TELEFÔNICA        MG     9533067.40
TELECOM ITALIA    PR     6631606.03
OI                SP     6576972.61
TELEFÔNICA        RS     5916151.44
TELECOM AMERICAS  RJ     5500900.76
TELEFÔNICA        RJ     5249212.98
OI                MG     4496345.42
Name: media_ano, dtype: float64

In [157]:
soma_emp_uf = df_2020.groupby(['Empresa','UF'], dropna=False)['media_ano'].sum().sort_values(ascending=False)
#soma_emp_uf = soma_emp_uf.apply(formatar_com_casas_de_milhar)
soma_emp_uf.head(10)

Empresa  UF
VIVO     SP    25107616.27
CLARO    SP    17107421.98
TIM      SP    15513332.52
VIVO     MG     9533067.40
TIM      PR     6631606.03
OI       SP     6576972.61
VIVO     RS     5916151.44
CLARO    RJ     5500900.76
VIVO     RJ     5249212.98
OI       MG     4496345.42
Name: media_ano, dtype: float64

In [159]:
estatisticas = df_2020['media_ano'].describe()
estatisticas = estatisticas.apply(formatar_com_casas_de_milhar)
estatisticas

count      304,437
mean           748
std         13,427
min              0
25%              2
50%             12
75%            100
max      2,857,221
Name: media_ano, dtype: object

## Contrução das planilhas para exportar:

In [132]:
import os
os.getcwd()

'C:\\Users\\Nanda\\OneDrive - ANS\\Documentos\\ANS\\Bootcamp\\Projeto\\Telefonia'

### Concentração de Mercado por UF

In [176]:
# Criando a coluna market_share no groupby UF e GE
df_2020_uf = pd.DataFrame(df_2020.groupby(['UF', 'Grupo Econômico']).sum()['media_ano'])
df_2020_uf['market_share'] = round(((df_2020_uf['media_ano'] / df_2020_uf.groupby('UF')['media_ano'].sum())),4)
# df_2020_uf.head()

In [178]:
#para o cálculo do HHI, primeiro criamos uma coluna chamada hhi_empresa pegando o valor do market_share 
# de cada empresa e elevando o número ao quadrado
df_2020_uf['hhi_empresa'] = round(df_2020_uf['market_share'] ** 2,4)
# df_2020_uf.head()

In [173]:
## Para exportar a planilha em csv (cm_uf):
df_2020_uf.to_csv("cm_2020_uf.csv", sep=';', decimal = ",", encoding='utf-8')

### Concentração de Mercado por DDD

In [179]:
# Criando a coluna market_share no groupby DDD e GE
df_2020_ddd = pd.DataFrame(df_2020.groupby(['Código Nacional', 'Grupo Econômico']).sum()['media_ano'])
df_2020_ddd['market_share'] = round(((df_2020_ddd['media_ano'] / df_2020_ddd.groupby('Código Nacional')['media_ano'].sum())),4)
#df_2020_ddd.head()

In [181]:
#para o cálculo do HHI, primeiro criamos uma coluna chamada hhi_empresa pegando o valor do market_share 
# de cada empresa e elevando o número ao quadrado
df_2020_ddd['hhi_empresa'] = round(df_2020_ddd['market_share'] ** 2,4)
# df_2020_ddd.head()

In [182]:
## Para exportar a planilha em csv (cm_ddd):
df_2020_ddd.to_csv("cm_2020_ddd.csv", sep=';', decimal = ",", encoding='utf-8')

### HHI por UF

In [183]:
#criar uma função para verificar a concentração de mercado a partir do HHI
def analise_hhi(valor_hhi):
    if valor_hhi <= 1500:
        return "pouco concentrado"
    if valor_hhi > 1500 and valor_hhi <= 2500:
        return "moderado"
    else:
        return "altamente concentrado"

In [195]:
#a partir da coluna de hhi_empresa, somamos os valores, criando um novo dataframe com uma coluna contendo o cálculo de HHI por UF
df_2020_hhi_uf = df_2020_uf.groupby('UF')['hhi_empresa'].sum()
df_2020_hhi_uf = pd.DataFrame(df_2020_hhi_uf).reset_index()
df_2020_hhi_uf.columns = ['UF', 'HHI']
df_2020_hhi_uf.head()

   UF     HHI
0  AC  0.3713
1  AL  0.2688
2  AM  0.3419
3  AP  0.3061
4  BA  0.2587

In [196]:
#aplicar a função analise_hhi no dataframe, criando uma coluna analise_mercado_hhi
df_2020_hhi_uf['analise_mercado_hhi'] = df_2020_hhi_uf['HHI'].apply(analise_hhi)
df_2020_hhi_uf.head()

   UF     HHI analise_mercado_hhi
0  AC  0.3713   pouco concentrado
1  AL  0.2688   pouco concentrado
2  AM  0.3419   pouco concentrado
3  AP  0.3061   pouco concentrado
4  BA  0.2587   pouco concentrado

In [174]:
#exportar planilha hhi por uf
df_2020_hhi_uf.to_csv("hhi_2020_uf.csv", sep=';', decimal = ",", encoding='utf-8')

### HHI por DDD

In [194]:
#a partir da coluna de hhi_empresa, somamos os valores, criando um novo dataframe com uma coluna contendo o cálculo de HHI por UF
df_2020_hhi_ddd = df_2020_ddd.groupby('Código Nacional')['hhi_empresa'].sum()
df_2020_hhi_ddd = pd.DataFrame(df_2020_hhi_ddd).reset_index()
df_2020_hhi_ddd.columns = ['Código Nacional', 'HHI']
#df_2020_hhi_ddd.head()

In [188]:
#aplicar a função analise_hhi no dataframe, criando uma coluna analise_mercado_hhi
df_2020_hhi_ddd['analise_mercado_hhi'] = df_2020_hhi_ddd['HHI'].apply(analise_hhi)
#df_2020_hhi_ddd.head()

In [187]:
#exportar planilha hhi por uf
df_2020_hhi_ddd.to_csv("hhi_2020_ddd.csv", sep=';', decimal = ",", encoding='utf-8')