# Dados de telefonia móvel - Ano 2022

In [1]:
# Análise dos dados quantitativos e qualitativos de 2002 (responsável: Beatriz Pierri)

In [2]:
# importação de bibliotecas

import pandas as pd

In [3]:
# transformando os dois arquivos em dataframe

df_2022_1 = pd.read_csv('./data/Acessos_Telefonia_Movel_202201-202206_Colunas.csv', sep = ';')

df_2022_2 = pd.read_csv('./data/Acessos_Telefonia_Movel_202207-202212_Colunas.csv', sep = ';')

## Dataframe - 1º semestre de 2022

In [4]:
# df_2022_1 = df_2022_1.fillna(0)
#celula exclusiva para rodar testes

In [5]:
df_2022_1.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3505807,ALGAR (CTBC TELECOM),3.0,3.0,3.0,2.0,2.0,2.0
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3505807,ALGAR (CTBC TELECOM),1.0,1.0,1.0,1.0,NaN,NaN
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,M2M,3551702,ALGAR (CTBC TELECOM),6.0,6.0,6.0,5.0,4.0,4.0
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3551702,ALGAR (CTBC TELECOM),1.0,1.0,NaN,1.0,1.0,1.0
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3501004,ALGAR (CTBC TELECOM),41.0,42.0,43.0,41.0,42.0,42.0

In [6]:
# estudando o arquivo df_2022_1 (1º semestre) individualmente (para ver se bate com o 'merge')

print(df_2022_1.shape)
print()
print(df_2022_1.isna().sum())
print()
print(df_2022_1.columns)

(577955, 19)

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   250309
2022-02                   258690
2022-03                   247973
2022-04                   174910
2022-05                   160687
2022-06                   151720
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06'],
      dtype='object')

In [7]:
df_2022_1['2022-01'].value_counts()

2022-01
1.0        48970
2.0        25863
3.0        17644
4.0        13011
5.0        10400
           ...
18830.0        1
8999.0         1
18331.0        1
12004.0        1
22473.0        1
Name: count, Length: 10433, dtype: int64

## Dataframe - 2º semestre de 2022

In [8]:
# df_2022_2 = df_2022_2.fillna(0) 
# celula exclusiva para rodar testes

In [9]:
df_2022_2.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
0,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Física,VOZ+DADOS,3547809,TELECOM AMERICAS,173.0,337.0,337.0,356.0,364.0,379.0
1,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,M2M,3547809,TELECOM AMERICAS,426.0,1655.0,1728.0,4465.0,4495.0,4512.0
2,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,DADOS,3547809,TELECOM AMERICAS,NaN,1.0,1.0,16.0,17.0,16.0
3,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,VOZ+DADOS,3547809,TELECOM AMERICAS,26.0,74.0,72.0,96.0,96.0,97.0
4,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,PONTO_DE_SERVICO,3547809,TELECOM AMERICAS,66.0,95.0,144.0,1842.0,1786.0,1729.0

In [10]:
# estudando o arquivo df_2022_2 (2º semestre) individualmente (para ver se bate com o 'merge')

print(df_2022_2.shape)
print()
print(df_2022_2.isna().sum())
print()
print(df_2022_2.columns)

(404463, 19)

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                       0
Porte da Prestadora           0
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico               0
2022-07                   60228
2022-08                   49689
2022-09                   44709
2022-10                   40265
2022-11                   49635
2022-12                   61186
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12'],
      dtype='object')

## Dataframe - Ano de 2022 (merge)

In [11]:
df_2022 = pd.merge(df_2022_1, df_2022_2, how='outer')

In [12]:
df_2022.head(5)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,3.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,...,6.0,5.0,4.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,43.0,41.0,42.0,42.0,41.0,40.0,40.0,41.0,41.0,41.0

In [13]:
print(df_2022.shape)
print()
print(df_2022.isna().sum())
print()
print(df_2022.columns)

(634576, 25)

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   306930
2022-02                   315311
2022-03                   304594
2022-04                   231531
2022-05                   217308
2022-06                   208341
2022-07                   290341
2022-08                   279802
2022-09                   274822
2022-10                   270378
2022-11                   279748
2022-12                   291299
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12'],
      dtype='object')

## Análise da qualidade dos dados (grafia dos valores)

In [14]:
# vendo o tipo de dado que tenho por coluna
# os dados estão ok: os numéricos (especialmente os do número de acessos) estão no 
# formato float (e não object)

df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634576 entries, 0 to 634575
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CNPJ                    634576 non-null  int64
 1   Código Nacional         634576 non-null  int64
 2   Município               634576 non-null  object
 3   UF                      634576 non-null  object
 4   Modalidade de Cobrança  634576 non-null  object
 5   Tecnologia              634576 non-null  object
 6   Tecnologia Geração      634576 non-null  object
 7   Empresa                 634576 non-null  object
 8   Porte da Prestadora     634576 non-null  object
 9   Tipo de Pessoa          634576 non-null  object
 10  Tipo de Produto         634576 non-null  object
 11  Código IBGE Município   634576 non-null  int64
 12  Grupo Econômico         634576 non-null  object
 13  2022-01                 327646 non-null  float64
 14  2022-02                 319265 non-null  float64
 15  2022-03                 329982 non-null  float64
 16  2022-04                 403045 non-null  float64
 17  2022-05                 417268 non-null  float64
 18  2022-06                 426235 non-null  float64
 19  2022-07                 344235 non-null  float64
 20  2022-08                 354774 non-null  float64
 21  2022-09                 359754 non-null  float64
 22  2022-10                 364198 non-null  float64
 23  2022-11                 354828 non-null  float64
 24  2022-12                 343277 non-null  float64
dtypes: float64(12), int64(3), object(10)
memory usage: 121.0+ MB

In [15]:
# vendo o tipo de dado que tenho em cada coluna do dataframe (ou quantidade, ou qualidade), para
# ver se não há strings repetidas com diferentes grafias

# CNPJ (quantidade)
print(f"CNPJ - ", len(df_2022['CNPJ'].unique()))

print()
# Codigo nacional (quantidade)
print(f"Código Nacional - ", len(df_2022['Código Nacional'].unique()))

print()
# Município (quantidade)
print(f"Município - ", len(df_2022['Município'].unique()))

print()
# UF (dados)
print(f"UF - ", len(df_2022['Município'].unique()))
print(f"UF - ", df_2022['UF'].unique())

print()
# Modalidade de Cobrança (quantidade)
print(f"Modalidade de Cobrança - ", len(df_2022['Modalidade de Cobrança'].unique()))
# Modalidade de Cobrança (dados)
print(f"Modalidade de Cobrança - ", df_2022['Modalidade de Cobrança'].unique())

print()
# Tecnologia (quantidade)
print(f"Tecnologia - ", len(df_2022['Tecnologia'].unique()))
# Tecnologia (dados)
print(f"Tecnologia - ", df_2022['Tecnologia'].unique())

print()
# Tecnologia Geração (quantidade)
print(f"Tecnologia Geração - ", len(df_2022['Tecnologia Geração'].unique()))
# Tecnologia Geração (dados)
print(f"Tecnologia Geração - ", df_2022['Tecnologia Geração'].unique())

print()
# Empresa (quantidade)
print(f"Empresa - ", len(df_2022['Empresa'].unique()))
# Empresa (dados)
print(f"Empresa - ", df_2022['Empresa'].unique())

print()
# Porte da Prestadora (quantidade)
print(f"Porte da Prestadora - ", len(df_2022['Porte da Prestadora'].unique()))
# Porte da Prestadora (dados)
print(f"Porte da Prestadora - ", df_2022['Porte da Prestadora'].unique())

print()
# Tipo de Pessoa (quantidade)
print(f"Tipo de Pessoa - ", len(df_2022['Tipo de Pessoa'].unique()))
# Tipo de Pessoa (dados)
print(f"Tipo de Pessoa - ", df_2022['Tipo de Pessoa'].unique())

print()
# Tipo de Produto (quantidade)
print(f"Tipo de Produto - ", len(df_2022['Tipo de Produto'].unique()))
# Tipo de Produto (dados)
print(f"Tipo de Produto - ", df_2022['Tipo de Produto'].unique())

print()
# Código IBGE Município (quantidade)
print(f"Código IBGE Município - ", len(df_2022['Código IBGE Município'].unique()))

print()
# Grupo Econômico (quantidade)
print(f"Grupo Econômico - ", len(df_2022['Grupo Econômico'].unique()))
# Grupo Econômico (dados)
print(f"Grupo Econômico - ", df_2022['Grupo Econômico'].unique())

CNPJ -  16

Código Nacional -  67

Município -  5297

UF -  5297
UF -  ['SP' 'MG' 'GO' 'MS' 'PR' 'RJ' 'ES' 'SC' 'RS' 'DF' 'TO' 'MT' 'AC' 'RO'
 'BA' 'SE' 'PE' 'AL' 'PB' 'RN' 'CE' 'PI' 'PA' 'AM' 'RR' 'AP' 'MA']

Modalidade de Cobrança -  2
Modalidade de Cobrança -  ['Pós-pago' 'Pré-pago']

Tecnologia -  6
Tecnologia -  ['LTE' 'WCDMA' 'GSM' 'CDMA IS 95' 'NR NSA' 'NR']

Tecnologia Geração -  5
Tecnologia Geração -  ['4G' '3G' '2G' '5G Non Stand Alone' '5G']

Empresa -  15
Empresa -  ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'SURF TELECOM SA' 'TIM'
 'America Net S.a.' 'TELEXPERTS TELECOMUNICAÇÕES S.A.' 'VIVO' 'CLARO'
 'Next Level Telecom Ltda.' 'J. SAFRA TELECOMUNICACOES LTDA' 'DATORA' 'OI'
 'SURF TELECOM' 'AMERICA NET']

Porte da Prestadora -  2
Porte da Prestadora -  ['Pequeno Porte' 'Grande Porte']

Tipo de Pessoa -  2
Tipo de Pessoa -  ['Pessoa Física' 'Pessoa Jurídica']

Tipo de Produto -  5
Tipo de Produto -  ['VOZ+DADOS' 'M2M' 'DADOS' 'PONTO_DE_SERVICO' 'VOZ']

Código IBGE Município -  5570

Grupo Econômico -  12
Grupo Econômico -  ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'OUTROS'
 'TELECOM ITALIA' 'TELEFÔNICA' 'TELECOM AMERICAS' 'TELEFONICA' 'DATORA'
 'OI' 'SURF TELECOM' 'AMERICA NET']

In [16]:
# disparidades aparentes:

# são 5570 codigos de municios IBGE
# solução: ignorar os codigos do ibge e trabalhar só com os nomes dos municipios

# empresas:
# 16 CNPJs de empresas fornecedoras
# 15 empresas
# 13 grupos econcomicos
# dentre as empresas ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'SURF TELECOM SA' 'TIM'
#  'America Net S.a.' 'TELEXPERTS TELECOMUNICAÇÕES S.A.' 'VIVO' 'CLARO'
#  'Next Level Telecom Ltda.' 'J. SAFRA TELECOMUNICACOES LTDA' 'DATORA' 'OI'
#  'SURF TELECOM' 'AMERICA NET'], Surf Telecom é repetida (ora com SA no nome, ora sem)

# Tecnologia: 
# são 6 tecnologias: ['LTE' 'WCDMA' 'GSM' 'CDMA IS 95' 'NR NSA' 'NR']
print(df_2022['Tecnologia'].value_counts())
# Tecnologia
# LTE           257120
# GSM           195426
# WCDMA         180081
# NR              1163
# NR NSA           701
# CDMA IS 95        85

Tecnologia
LTE           257120
GSM           195426
WCDMA         180081
NR              1163
NR NSA           701
CDMA IS 95        85
Name: count, dtype: int64

In [17]:
## Análise da qualidade dos dados (Not a Number)

In [18]:
# conferindo os not a number (NaN)
df_2022.isna().sum()

# temos NaN apenas nas colunas dos meses

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   306930
2022-02                   315311
2022-03                   304594
2022-04                   231531
2022-05                   217308
2022-06                   208341
2022-07                   290341
2022-08                   279802
2022-09                   274822
2022-10                   270378
2022-11                   279748
2022-12                   291299
dtype: int64

In [19]:
# vendo a qualidade dos dados em cada uma dessas colunas)
print("True ---> dados nulos")
print("False ---> dados numéricos \n")

print(df_2022['2022-01'].isna().value_counts())

print()
print(df_2022['2022-02'].isna().value_counts())

print()
print(df_2022['2022-03'].isna().value_counts())

print()
print(df_2022['2022-04'].isna().value_counts())

print()
print(df_2022['2022-05'].isna().value_counts())

print()
print(df_2022['2022-06'].isna().value_counts())

print()
print(df_2022['2022-07'].isna().value_counts())

print()
print(df_2022['2022-08'].isna().value_counts())

print()
print(df_2022['2022-09'].isna().value_counts())

print()
print(df_2022['2022-10'].isna().value_counts())

print()
print(df_2022['2022-11'].isna().value_counts())

print()
print(df_2022['2022-12'].isna().value_counts())

True ---> dados nulos
False ---> dados numéricos

2022-01
False    327646
True     306930
Name: count, dtype: int64

2022-02
False    319265
True     315311
Name: count, dtype: int64

2022-03
False    329982
True     304594
Name: count, dtype: int64

2022-04
False    403045
True     231531
Name: count, dtype: int64

2022-05
False    417268
True     217308
Name: count, dtype: int64

2022-06
False    426235
True     208341
Name: count, dtype: int64

2022-07
False    344235
True     290341
Name: count, dtype: int64

2022-08
False    354774
True     279802
Name: count, dtype: int64

2022-09
False    359754
True     274822
Name: count, dtype: int64

2022-10
False    364198
True     270378
Name: count, dtype: int64

2022-11
False    354828
True     279748
Name: count, dtype: int64

2022-12
False    343277
True     291299
Name: count, dtype: int64

In [20]:
# nas colunas dos meses, cerca de metade dos dados são nan
# # mas isso nao desqualifica a análise, pois:
# a) os dados da Anatel estão organizados por semestre (1 tabela para jan a jun e 1 tabela 
# para jul a dez)
# b) ao conferir a tabela original para ver como esses NaN constavam, nas células respectivas
# não constava nenhuma informação: a célula estava em branco (não eram strings e nem caracteres
# especiais, por exemplo)
# c) assim, na tabela original, essas células estavam zeradas: ou nao haviam chips ativos naquele 
# mês, por linha de dados (empresa, cliente, tecnologia etc.), ou a empresa não preencheu os dados
# d) mesclamos as duas tabelas de cada ano por meio da operação merge, parâmetro auter
# e) ao fazer o merge, vimos que a tabela que, antes tinha 19 colunas (13 colunas com dados majoritariamente 
# de strings e 6 colunas de dados de acesso, referente aos meses jan-jun), passou a ter 25 colunas, 
# pois recebeu a 6 colunas dos meses jul-dez da 2ª tabela 
# e) para as linhas que tinham exatamente as mesmas informações nas 13 colunas precedentes de strings (CNPJ,                                                                                                
# Empresa, Porte da Pessoa, tipo de Produto, Tecnologia etc.), as informações de ambos os semestres foram preenchidas
# f) mas, em casos em que não havia identidade de grafia nas informações das 13 colunas, o python jogou os 
# dados relativos ao 2º semestre para uma linha completamente nova, preenchendo o espaço referente aos 
# meses jan-jul com NaN
# g) nessa migração, a tabela consolidada passou a contar com uma quantidade bastante grande de Nan
# h) passou-se, então, para a análise de como tratar esses dados

In [21]:
# vendo os Not a Number (NaN) do 1º semestre e sua relevância face ao total de informações do dataset

print("1º semestre de 2022:")

print(f"Quantidade de NaN: ", df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2022_1.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022_1.shape[0] * df_2022_1.shape[1])

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações
dado1 = df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum() / (df_2022_1.shape[0] * df_2022_1.shape[1])
print(f"No 1º semestre de 2022, os dados NaN representam {dado1*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações nas colunas dos meses:
dado1s = df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum() / (df_2022_1.shape[0] * 6)
print(f"No 1º semestre de 2022, os dados NaN representam {dado1s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

1º semestre de 2022:
Quantidade de NaN:  1244289
Linhas e colunas:  (577955, 19)
Total de entradas no meu df:  10981145
No 1º semestre de 2022, os dados NaN representam 11.33% do total de entradas no dataframe
No 1º semestre de 2022, os dados NaN representam 35.88% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [22]:
# vendo os Not a Number (NaN) do 2º semestre e sua relevância face ao total de informações do dataset

print("2º semestre de 2022:")

print(f"Quantidade de NaN: ", df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2022_2.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022_2.shape[0] * df_2022_2.shape[1])

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações
dado2 = df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022_2.shape[0] * df_2022_2.shape[1])
print(f"No 2º semestre de 2022, os dados NaN representam {dado2*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações nas colunas dos meses:
dado2s = df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022_2.shape[0] * 6)
print(f"No 2º semestre de 2022, os dados NaN representam {dado2s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

2º semestre de 2022:
Quantidade de NaN:  305712
Linhas e colunas:  (404463, 19)
Total de entradas no meu df:  7684797
No 2º semestre de 2022, os dados NaN representam 3.98% do total de entradas no dataframe
No 2º semestre de 2022, os dados NaN representam 12.60% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [23]:
# vendo os NaN da tabela com 'merge + outer'

print("Ano de 2022:")

print(f"Quantidade de NaN: ", df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum())

# O shape do ano é
print(f"Linhas e colunas: ", df_2022.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022.shape[0] * df_2022.shape[1])

# vendo a percentagem no Nan na tabela 2022 face ao total de informações
dado_t = df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022.shape[0] * df_2022.shape[1])
print(f"No ano de 2022, os dados NaN representam {dado_t*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela merge do ano face ao total de informações nas colunas dos meses:
dado_ts = df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022.shape[0] * 6)
print(f"No ano de 2022, os dados NaN representam {dado_ts*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

Ano de 2022:
Quantidade de NaN:  3270405
Linhas e colunas:  (634576, 25)
Total de entradas no meu df:  15864400
No ano de 2022, os dados NaN representam 20.61% do total de entradas no dataframe
No ano de 2022, os dados NaN representam 85.89% do total de entradas nas colunas de acesso (6 meses do ano)

In [24]:
print("Análise: \n")
print("Total de NaN na tabela consolidada: 3_270_405 \n")
print("Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre \n")
print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que, \n em relação \
a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero \n")
print("Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos \
possível \n à análise, rodamos três testes: \n 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos; \
\n 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge'; \n 3) um \
que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente \n em todos os NaN \n")
print("Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia, \n porte etc.) \
que trouxe resultados mais consistentes comparativamente à análise da média mensal total \n por chips ativos no Brasil \
foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo \n passando a função df.fillna() em \
todos os NaN")

Análise:

Total de NaN na tabela consolidada: 3_270_405

Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre

No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que,
 em relação a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero

Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos possível
 à análise, rodamos três testes:
 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos;
 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge';
 3) um que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente
 em todos os NaN

Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia,
 porte etc.) que trouxe resultados mais consistentes comparativamente à análise da média mensal total
 por chips ativos no Brasil foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo
 passando a função df.fillna() em todos os NaN

In [25]:
# fillna() apenas para fazer testes de qualidade 
# vou rodar o fillna(0) numa célula mais abaixo depois desses testes

# df_2022 = df_2022.fillna(0)

In [26]:
lista_colunas = ['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12']

In [27]:
# criar coluna de soma_meses

df_2022["soma_meses"] = df_2022[lista_colunas].sum(axis=1)

# coluna criada para fazer o sorted e ver se há NaN relevantes dentre as empresas que figuram dentre
# as mais representativas do setor

In [28]:
# Criar coluna de média

df_2022['media_ano'] = round(df_2022[lista_colunas].mean(axis=1), 2)

In [29]:
df_2022.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,18.0,2.25
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.00
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,...,4.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0,44.0,3.67
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,8.0,1.00
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,42.0,42.0,41.0,40.0,40.0,41.0,41.0,41.0,495.0,41.25

In [30]:
df_2022_sorted = df_2022.sort_values(by='soma_meses', ascending=True)

In [31]:
df_2022_sorted.head(1000)

# vemos que dentre as 500 linhas de reporte com menos acessos, as próprias empresas, no semestre, reportaram 
# apenas um acesso no semestre: isto é, ta tebela original da Anatel, elas próprias reportaram que nos outros 
# 5 meses o seu acesso foi de zero)

# a soma de todas as linhas desses 500 primeiros reportes é 1, o que significa que, ainda que 6 colunas tenham sido 
# preechidas com NaN, a própria empresa reportou, nas outras 5 colunas da tabela original, que os dados são
# zero para os outros 5 meses (apenas 1 mês teve acesso de 1)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
226556,40432544000147,35,Itutinga,MG,Pós-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Jurídica,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
464228,37185266000166,91,Curralinho,PA,Pré-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
124696,2558157000162,35,Guapé,MG,Pré-pago,WCDMA,3G,VIVO,Grande Porte,Pessoa Física,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
601606,2421421000111,77,Urandi,BA,Pós-pago,WCDMA,3G,TIM,Grande Porte,Pessoa Jurídica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
464199,37185266000166,91,Concórdia do Pará,PA,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Física,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558912,5423963000111,84,João Dias,RN,Pré-pago,WCDMA,3G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
456141,37185266000166,83,Areia de Baraúnas,PB,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
558926,5423963000111,84,Jucurutu,RN,Pós-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
72657,2421421000111,83,Jericó,PB,Pós-pago,GSM,2G,TIM,Grande Porte,Pessoa Jurídica,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
456121,37185266000166,83,Arara,PB,Pré-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Física,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [32]:
maiores_empresas = df_2022_sorted.tail(500)

In [33]:
maiores_empresas

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
113972,2558157000162,31,Ribeirão das Neves,MG,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,61221.0,61917.0,63088.0,64157.0,64552.0,65572.0,66432.0,67868.0,754187.0,62848.92
111924,2558157000162,31,Betim,MG,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,64191.0,63314.0,63111.0,63154.0,62630.0,62359.0,62550.0,62992.0,755282.0,62940.17
156753,2558157000162,61,Brasília,DF,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Jurídica,...,64546.0,64479.0,64450.0,64269.0,62779.0,62084.0,62125.0,61853.0,757541.0,63128.42
231420,40432544000147,43,Londrina,PR,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,62751.0,62508.0,64477.0,65744.0,65596.0,68623.0,65391.0,67463.0,758207.0,63183.92
146137,2558157000162,51,Canoas,RS,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,62969.0,63634.0,63996.0,64914.0,65328.0,66061.0,66478.0,66821.0,758331.0,63194.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91784,2558157000162,11,São Paulo,SP,Pós-pago,GSM,2G,VIVO,Grande Porte,Pessoa Jurídica,...,1681499.0,1895658.0,1901753.0,1873977.0,1720849.0,1690531.0,1784382.0,1779118.0,21697296.0,1808108.00
91787,2558157000162,11,São Paulo,SP,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,1958810.0,1955536.0,1947530.0,1953659.0,1950379.0,1947532.0,1930576.0,1901851.0,23222757.0,1935229.75
11000,2421421000111,11,São Paulo,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,2372381.0,2371421.0,2359936.0,2353432.0,2419493.0,2454580.0,2533092.0,2564685.0,28689977.0,2390831.42
206750,40432544000147,11,São Paulo,SP,Pós-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Jurídica,...,2906155.0,2924259.0,1224985.0,2816386.0,2816289.0,1724382.0,1717811.0,1644160.0,29404782.0,2450398.50
206739,40432544000147,11,São Paulo,SP,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,2486357.0,2436785.0,2871288.0,2448517.0,2397734.0,2354963.0,2348940.0,2314398.0,29884953.0,2490412.75

In [34]:
# dentre as 500 maiores linhas com reportes de mais acessos, os NaN n]ao são tão óbvios, mas
# eles existem

maiores_empresas.isna().sum()

CNPJ                       0
Código Nacional            0
Município                  0
UF                         0
Modalidade de Cobrança     0
Tecnologia                 0
Tecnologia Geração         0
Empresa                    0
Porte da Prestadora        0
Tipo de Pessoa             0
Tipo de Produto            0
Código IBGE Município      0
Grupo Econômico            0
2022-01                   53
2022-02                   53
2022-03                   53
2022-04                   19
2022-05                   23
2022-06                   23
2022-07                   16
2022-08                   16
2022-09                   16
2022-10                   16
2022-11                   16
2022-12                   16
soma_meses                 0
media_ano                  0
dtype: int64

In [35]:
# vendo, dentro da lista com as maiores empresas (maior soma_meses), quais tem NaN em algum lugar
# do dataframe

maiores_empresas_com_nam = maiores_empresas[maiores_empresas.isna().any(axis=1)]

In [36]:
maiores_empresas_com_nam

# nesta tabela vemos que empresas com reportes relevantes tamém omitiram um mês ou outro

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
551397,5423963000111,81,Recife,PE,Pré-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,760907.0,253635.67
373473,37178485000118,41,Curitiba,PR,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,104899.0,106451.0,96527.0,94357.0,71030.0,70392.0,72178.0,56060.0,779946.0,86660.67
282618,36012579000150,11,Guarulhos,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,77007.0,76296.0,132709.0,130541.0,109521.0,99652.0,34627.0,24359.0,783649.0,87072.11
469589,18384930000151,51,Porto Alegre,RS,Pós-pago,GSM,2G,DATORA,Pequeno Porte,Pessoa Jurídica,...,NaN,NaN,68937.0,68937.0,87535.0,95365.0,95365.0,95365.0,787252.0,78725.20
561072,5423963000111,85,Fortaleza,CE,Pós-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,829233.0,276411.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384121,37178485000118,81,Recife,PE,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,515192.0,512738.0,514522.0,517063.0,374742.0,341231.0,331233.0,291590.0,3908899.0,434322.11
469528,18384930000151,11,São Paulo,SP,Pós-pago,GSM,2G,DATORA,Pequeno Porte,Pessoa Jurídica,...,NaN,NaN,459265.0,459265.0,459265.0,459265.0,473121.0,473121.0,4620362.0,462036.20
283518,36012579000150,11,São Paulo,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,419595.0,413505.0,828412.0,816423.0,707203.0,651673.0,217182.0,153413.0,4753559.0,528173.22
445406,37185266000166,71,Salvador,BA,Pré-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,451140.0,437561.0,697667.0,695066.0,704801.0,678480.0,354970.0,363892.0,4926476.0,547386.22
388553,37178485000118,85,Fortaleza,CE,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,866282.0,869498.0,864381.0,861964.0,627937.0,549666.0,476875.0,427869.0,6404852.0,711650.22

In [37]:
maiores_empresas_com_nam.columns

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12', 'soma_meses', 'media_ano'],
      dtype='object')

In [38]:
maiores_empresas_com_nam[['Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12', 'soma_meses', 'media_ano']]

,Grupo Econômico,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
551397,OI,130312.0,508502.0,122093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,760907.0,253635.67
373473,TELEFONICA,NaN,NaN,NaN,108052.0,104899.0,106451.0,96527.0,94357.0,71030.0,70392.0,72178.0,56060.0,779946.0,86660.67
282618,TELECOM ITALIA,NaN,NaN,NaN,98937.0,77007.0,76296.0,132709.0,130541.0,109521.0,99652.0,34627.0,24359.0,783649.0,87072.11
469589,DATORA,68937.0,68937.0,68937.0,68937.0,NaN,NaN,68937.0,68937.0,87535.0,95365.0,95365.0,95365.0,787252.0,78725.20
561072,OI,394412.0,2163.0,432658.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,829233.0,276411.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384121,TELEFONICA,NaN,NaN,NaN,510588.0,515192.0,512738.0,514522.0,517063.0,374742.0,341231.0,331233.0,291590.0,3908899.0,434322.11
469528,DATORA,459265.0,459265.0,459265.0,459265.0,NaN,NaN,459265.0,459265.0,459265.0,459265.0,473121.0,473121.0,4620362.0,462036.20
283518,TELECOM ITALIA,NaN,NaN,NaN,546153.0,419595.0,413505.0,828412.0,816423.0,707203.0,651673.0,217182.0,153413.0,4753559.0,528173.22
445406,TELECOM AMERICAS,NaN,NaN,NaN,542899.0,451140.0,437561.0,697667.0,695066.0,704801.0,678480.0,354970.0,363892.0,4926476.0,547386.22
388553,TELEFONICA,NaN,NaN,NaN,860380.0,866282.0,869498.0,864381.0,861964.0,627937.0,549666.0,476875.0,427869.0,6404852.0,711650.22

In [39]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, \n \
# ignorar o value ao calcular a média anual: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# Resultado:

# 1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, 
#  ignorar o value ao calcular a média anual: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 312,628,522

In [40]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos \n \
# valores e o denominador 12 para o cálculo da média anual de cada linha: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# # Resultado:

# 2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos 
#  valores e o denominador 12 para o cálculo da média anual de cada linha: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 258,493,711

In [41]:
# após a rodagem dos testes, vimos que a metodologia que melhor se aplica aos dados (e como
# eles foram organizados após o merge), vamos imputar zero a todos os NaN

df_2022 = df_2022.fillna(0)

In [42]:
pd.DataFrame(df_2022.groupby('UF').sum()['media_ano'].head(5))

      media_ano
UF
AC    972244.85
AL   4096684.78
AM   4993004.72
AP   1035815.64
BA  20818459.75

In [43]:
df_2022.groupby('UF')['media_ano'].sum().head(5)

UF
AC      972244.85
AL     4096684.78
AM     4993004.72
AP     1035815.64
BA    20818459.75
Name: media_ano, dtype: float64

In [44]:
df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Empresa'])['media_ano'].sum())

In [45]:
df_2022_uf.head(20)

                                      media_ano
UF Empresa
AC CLARO                              394785.92
   DATORA                               1365.00
   OI                                  81042.95
   SURF TELECOM                         3571.50
   SURF TELECOM SA                      7110.73
   TIM                                122032.72
   VIVO                               362336.03
AL AMERICA NET                             6.00
   America Net S.a.                       13.77
   CLARO                              882251.63
   DATORA                               7411.09
   OI                                 896594.93
   SURF TELECOM                         4106.00
   SURF TELECOM SA                      8488.18
   TELEXPERTS TELECOMUNICAÇÕES S.A.      139.48
   TIM                               1015167.34
   VIVO                              1282506.36
AM AMERICA NET                             6.00
   America Net S.a.                       11.60
   CLARO                             1937749.78

In [46]:
df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Grupo Econômico', 'Empresa']).sum()['media_ano'])

In [47]:
df_2022_uf.head(10)

                                     media_ano
UF Grupo Econômico  Empresa
AC DATORA           DATORA             1365.00
   OI               OI                81042.95
   OUTROS           SURF TELECOM SA    7110.73
   SURF TELECOM     SURF TELECOM       3571.50
   TELECOM AMERICAS CLARO            394785.92
   TELECOM ITALIA   TIM              122032.72
   TELEFONICA       VIVO               1598.22
   TELEFÔNICA       VIVO             360737.81
AL AMERICA NET      AMERICA NET           6.00
   DATORA           DATORA             7411.09

In [48]:
df_2022_uf['share'] = (df_2022_uf['media_ano'] / df_2022_uf['media_ano'].sum()) * 100

In [52]:
df_2022_uf.head(30)

                                                       media_ano  share
UF Grupo Econômico  Empresa
AC DATORA           DATORA                               1365.00   0.14
   OI               OI                                  81042.95   8.34
   OUTROS           SURF TELECOM SA                      7110.73   0.73
   SURF TELECOM     SURF TELECOM                         3571.50   0.37
   TELECOM AMERICAS CLARO                              394785.92  40.61
   TELECOM ITALIA   TIM                                122032.72  12.55
   TELEFONICA       VIVO                                 1598.22   0.16
   TELEFÔNICA       VIVO                               360737.81  37.10
AL AMERICA NET      AMERICA NET                             6.00   0.00
   DATORA           DATORA                               7411.09   0.18
   OI               OI                                 896594.93  21.89
   OUTROS           America Net S.a.                       13.77   0.00
                    SURF TELECOM SA                      8488.18   0.21
                    TELEXPERTS TELECOMUNICAÇÕES S.A.      139.48   0.00
   SURF TELECOM     SURF TELECOM                         4106.00   0.10
   TELECOM AMERICAS CLARO                              882251.63  21.54
   TELECOM ITALIA   TIM                               1015167.34  24.78
   TELEFONICA       VIVO                               716071.39  17.48
   TELEFÔNICA       VIVO                               566434.97  13.83
AM AMERICA NET      AMERICA NET                             6.00   0.00
   DATORA           DATORA                               1432.00   0.03
   OI               OI                                 582257.12  11.66
   OUTROS           America Net S.a.                       11.60   0.00
                    SURF TELECOM SA                     13072.23   0.26
                    TELEXPERTS TELECOMUNICAÇÕES S.A.      393.87   0.01
   SURF TELECOM     SURF TELECOM                         6147.50   0.12
   TELECOM AMERICAS CLARO                             1937749.78  38.81
   TELECOM ITALIA   TIM                                531727.71  10.65
   TELEFONICA       VIVO                                18203.53   0.36
   TELEFÔNICA       VIVO                              1902003.38  38.09

In [59]:
df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [58]:
df_2022_uf.head(15)

                                                      media_ano  share
UF Grupo Econômico  Empresa
AC DATORA           DATORA                              1365.00   0.14
   OI               OI                                 81042.95   8.34
   OUTROS           SURF TELECOM SA                     7110.73   0.73
   SURF TELECOM     SURF TELECOM                        3571.50   0.37
   TELECOM AMERICAS CLARO                             394785.92  40.61
   TELECOM ITALIA   TIM                               122032.72  12.55
   TELEFONICA       VIVO                                1598.22   0.16
   TELEFÔNICA       VIVO                              360737.81  37.10
AL AMERICA NET      AMERICA NET                            6.00   0.00
   DATORA           DATORA                              7411.09   0.18
   OI               OI                                896594.93  21.89
   OUTROS           America Net S.a.                      13.77   0.00
                    SURF TELECOM SA                     8488.18   0.21
                    TELEXPERTS TELECOMUNICAÇÕES S.A.     139.48   0.00
   SURF TELECOM     SURF TELECOM                        4106.00   0.10

In [ ]:
print()
print()
print()
print()
print()
print()
print()
print()
print()
print()
print()

# usamos este comando dando entrer para avançar linhas, e depois alt arrasta para marcar as linhas que terão comando

In [60]:
df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Grupo Econômico']).sum()['media_ano'])

In [61]:
df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [63]:
df_2022_uf.head(30)

                      media_ano  share
UF Grupo Econômico
AC DATORA               1365.00   0.14
   OI                  81042.95   8.34
   OUTROS               7110.73   0.73
   SURF TELECOM         3571.50   0.37
   TELECOM AMERICAS   394785.92  40.61
   TELECOM ITALIA     122032.72  12.55
   TELEFONICA           1598.22   0.16
   TELEFÔNICA         360737.81  37.10
AL AMERICA NET             6.00   0.00
   DATORA               7411.09   0.18
   OI                 896594.93  21.89
   OUTROS               8641.43   0.21
   SURF TELECOM         4106.00   0.10
   TELECOM AMERICAS   882251.63  21.54
   TELECOM ITALIA    1015167.34  24.78
   TELEFONICA         716071.39  17.48
   TELEFÔNICA         566434.97  13.83
AM AMERICA NET             6.00   0.00
   DATORA               1432.00   0.03
   OI                 582257.12  11.66
   OUTROS              13477.70   0.27
   SURF TELECOM         6147.50   0.12
   TELECOM AMERICAS  1937749.78  38.81
   TELECOM ITALIA     531727.71  10.65
   TELEFONICA          18203.53   0.36
   TELEFÔNICA        1902003.38  38.09
AP AMERICA NET           115.00   0.01
   OI                 154445.01  14.91
   OUTROS               8826.83   0.85
   SURF TELECOM         2686.00   0.26

In [64]:
df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Empresa']).sum()['media_ano'])

In [65]:
df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [66]:
df_2022_uf.head(30)

                                      media_ano  share
UF Empresa
AC CLARO                              394785.92  40.61
   DATORA                               1365.00   0.14
   OI                                  81042.95   8.34
   SURF TELECOM                         3571.50   0.37
   SURF TELECOM SA                      7110.73   0.73
   TIM                                122032.72  12.55
   VIVO                               362336.03  37.27
AL AMERICA NET                             6.00   0.00
   America Net S.a.                       13.77   0.00
   CLARO                              882251.63  21.54
   DATORA                               7411.09   0.18
   OI                                 896594.93  21.89
   SURF TELECOM                         4106.00   0.10
   SURF TELECOM SA                      8488.18   0.21
   TELEXPERTS TELECOMUNICAÇÕES S.A.      139.48   0.00
   TIM                               1015167.34  24.78
   VIVO                              1282506.36  31.31
AM AMERICA NET                             6.00   0.00
   America Net S.a.                       11.60   0.00
   CLARO                             1937749.78  38.81
   DATORA                               1432.00   0.03
   OI                                 582257.12  11.66
   SURF TELECOM                         6147.50   0.12
   SURF TELECOM SA                     13072.23   0.26
   TELEXPERTS TELECOMUNICAÇÕES S.A.      393.87   0.01
   TIM                                531727.71  10.65
   VIVO                              1920206.91  38.46
AP AMERICA NET                           115.00   0.01
   America Net S.a.                      195.29   0.02
   CLARO                              224765.87  21.70